#/bin/dash

{{mirror_scripts_path}}/debian/debian/bin/ftpsync sync:all
{{mirror_scripts_path}}/debian/debian-cd/bin/ftpsync sync:all
{{mirror_scripts_path}}/ubuntu/ubuntu.sh
{{mirror_scripts_path}}/ubuntu/release_ubuntu.sh

