#!/bin/bash

TOKEN={{ mirror_telegram_token }}
CHAT_ID={{ mirror_telegram_chat_id }}
MESSAGE="Actualización del repo Debian inconsistente"
filename='{{mirror_base_path}}/debian/{{mirror_debian_rsync_path}}/project/trace/{{inventory_hostname}}';
#day last update
result=$(grep -rnw $filename -e 'Date-Started:' |awk -F , '{print $2}' |awk -F + '{print $1}');
#change format
fecha=$(date --date="$result" '+%Y%m%d');
#today
hoy=$(date '+%Y%m%d');
#difference in dates
let DIFF=($(date +%s -d "$hoy") - $(date +%s -d "$fecha"))/86400;

if [ $DIFF -ge 1 ];
then
    URL="https://api.telegram.org/bot$TOKEN/sendMessage"
    curl -s -X POST $URL -d chat_id=$CHAT_ID -d text="$MESSAGE"
fi
